*{ 
    margin: 1;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;  
}

.links ul{
    list-style: none;
}

.links ul li{
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 800;
    font-size: 25px;
    background-color: #6ea4f5;
    height: 200px;
    width: 200px;
    display: inline-block;
    padding: 80px 5px 0 0;
}

.menu h1{
    justify-items: end;
    font-size: 40px;
    color: rgb(37, 1, 241);
    font-weight: 700;
}

.menu img{
    float: right;
    justify-items: end;

}


.imagem{
    background-image: url(../img/tlgnedog.avif);
}

.rms{
    background-image: url(../img/tlgnedog.avif);
}

.organograma{
    background-image: url(../img/tlgnedog.avif);
}