*{ 
    margin: 1;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;  
}
.menu2 h1{
    align-items: stretch;
    font-size: 35px;
    color: rgb(37, 1, 241);
    font-weight: 700;
}
.menu2 h2{
    font-size: 22px;
}
.menu2 img{
    float: right;
    justify-items: end;

}
.menu3 nav ul{
    list-style: none;
}
.menu3 nav ul li a{
    text-decoration: none;
    background-color: rgb(10, 194, 240);
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 20px;
    color: #000;
    padding: 5;
    font-weight: 700;
    font-size: 17px;
    margin: 1% 0;
}


.org2 img{
    float: right;
    justify-items: end;
}
.org2 h1{
    font-size: 35px;
}
.org2 p{
    font-size: 22px;
}

.org3 ul li a{
    text-decoration: none;
    background-color: rgb(10, 194, 240);
    text-align: center;
    display: inline-block;
    width: 200px;
    height: 200;
    color: #000000;
    padding: 5% 0;
    font-weight: 700;
    font-size: 20px;
    margin: 1% 0;
}

.rms2 img{
    float: right;
    justify-items: end;
}
.rms3 p{
    font-size: 23px;
    font-weight: 800;
}
.rms3 nav ul li a{
    text-decoration: none;
    background-color: rgb(10, 194, 240);
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 20px;
    color: #000;
    padding: 5;
    font-weight: 700;
    font-size: 17px;
    margin: 1% 0;
}

.chat2 h1{
    font-size: 35px;
}
.chat2 img {
    float: right;
    justify-items: end;
}
.chat3 nav ul li a{
    text-decoration: none;
    background-color: rgb(10, 194, 240);
    text-align: center;
    display: inline-block;
    width: 150px;
    height: 20px;
    color: #000;
    padding: 5;
    font-weight: 700;
    font-size: 17px;
    margin: 1% 0;
}


.menu1{
    background-image: url(../img/fundo.avif);
}

.rms1{
    background-image: url(../img/fundo.avif);
}

.org1{
    background-image: url(../img/fundo.avif);
}

.chat1 {
    background-image: url(../img/fundo.avif);
}